img {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

figcaption {
  text-align: center;
}

mark {
  background-color: #fff94b;
  padding: 0 2px;
  border-radius: 2px;
}

html.dark mark {
  background-color: #cac543;
  color: #212121;
}

ol > li > ol > li {
  list-style-type: lower-alpha;
}

figcaption {
  font-size: 80%;
  font-style: italic;
  font-weight: 600;
}

figure {
  margin-top: 30px;
  margin-bottom: 30px;
}
